/* 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Merriweather', serif, 'Open Sans', sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
+++++ Custom Styles +++++
*/

/* Globals */
body {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  body {
    border: 1px solid whitesmoke;
  }
}
.bold {
  font-weight: bold;
}
.logo {
  font-weight: 700;
  font-size: 32px;
  font-family: 'Bebas Neue';
  line-height: normal;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.yv-spacer-t-10 {
  margin-top: 10px;
}
.yv-input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
}
.yv-button {
  background: #30962f;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.yv-button--second {
  background: blueviolet;
}



/* Nav */
.nav {
  background: white;
}
.nav__wrapper {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.nav__title a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 32px;
  font-family: 'Bebas Neue';
  line-height: normal;
  letter-spacing: 2px;
}
.nav__title a:hover {
  opacity: 0.7;
}
.nav__button {
  background: #30962f;
  border: none;
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .nav__wrapper {
    padding: 20px 30px;
  }
}



/* Hero */
.hero {
  background-image:  linear-gradient( #31962fde, #31962fde), url('./images/mujer-trabajadora-mayor.webp');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 20px;
  text-align: center;
  position: relative;
  border-bottom-left-radius: 40% 15%;
  border-bottom-right-radius: 40% 15%;
}
.hero > * {
  color: white;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.hero__title {
  font-size: 25px;
  font-weight: bold;
}
.hero__subtitle {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 150px 20px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__subtitle {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  .hero {
    background-size: contain;
    background-position: center right;
    border-bottom-right-radius: 0% 0%;;
  }
}



/* Hero Basic */
.herobasic {
  background-image: linear-gradient(blueviolet, rgb(65 39 90 / 90%));
  padding: 40px 20px;
  text-align: center;
  position: relative;
}
.herobasic > * {
  color: white;
  text-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
}
.herobasic__title {
  font-size: 25px;
  font-weight: bold;
}
.herobasic__subtitle {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .herobasic {
    padding: 80px 20px;
  }
  .herobasic__title {
    font-size: 40px;
  }
  .herobasic__subtitle {
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .herobasic {
    background-size: contain;
    background-position: center right;
  }
}



/* Interview */
.interview {
  padding: 40px 20px 50px 20px;
  position: relative;
}
.interview::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 26px 0 26px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  left: 20%;
  transform: translateX(-50%) translateY(100%);
  z-index: 9999;
}
.interview__title {
  font-size: 20px;
  font-weight: bold;
}
.interview__question {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}
.interview button {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .interview {
    padding: 50px;
  }
  .interview__title {
    font-size: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .interview::before {
    left: 10%;
  }
  .interview__question {
    max-width: 700px;
  }
}



/* values */
.values {
  padding: 50px 20px 50px 20px;
  background: rgb(240, 239, 239);
  position: relative;
}
.values::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 26px 0 26px;
  border-color: rgb(240, 239, 239) transparent transparent transparent;
  left: 20%;
  transform: translateX(-50%) translateY(100%);
  z-index: 9999;
}
.values__title {
  font-size: 20px;
  font-weight: bold;
}
.values__list {
  margin-top: 10px;
}

.values__item {
  display: flex;
  margin-bottom: 10px;
  font-size: 18px;
}

.values__item span {
  color: #30962f;
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .values {
    padding: 50px;
  }
  .values__title {
    font-size: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .values::before {
    left: 10%;
  }
}



/* What we do */
.wedo {
  padding: 50px 20px 50px 20px;
  position: relative;
  background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
}
.wedo__title {
  font-size: 20px;
  font-weight: bold;
}
.wedo p {
  margin-top: 10px;
  font-size: 18px;
}
.wedo__more {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .wedo {
    padding: 50px;
  }
  .wedo__title {
    font-size: 25px;
    border-left: 5px solid #30962f;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .wedo p {
    max-width: 1000px;
  }
}




/* Quotes */
.quote {
  padding: 50px 20px 50px 20px;
  position: relative;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);
}
.quote__title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.quote__separator {
  margin: 20px auto;
  width: 50%;
  height: 1px;
  background-color: rgb(223, 223, 223);
  border: none;
}
.quote blockquote {
  font-size: 18px;
  font-style: oblique;
  line-height: 1.6;
  margin-top: 10px;
}
.quote__origin {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(156, 152, 152);
  display: flex;
  align-items: center;
}
.quote__origin span {
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .quote {
    padding: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .quote__title {
    font-size: 25px;
    border-left: 5px solid #30962f;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .quote blockquote {
    max-width: 1000px;
  }
}



/* Talents list */
.talents {
  padding: 50px 20px 50px 20px;
}
.talents__title {
  font-size: 20px;
  font-weight: bold;
}
.talents__subtitle {
  color: #333;
  margin-top: 10px;
  font-size: 18px;
}
.talents__wrapper {
  padding: 15px;
}
.talents__talent {
  border: 1px solid rgb(231, 225, 225);
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}
.talents__img {
  height: 200px;
}
.talents__img img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.talents__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}
.talents__content-title {
  font-size: 20px;
  font-weight: bold;
}
.talents__button {
  text-align: center;
  margin: 10px 0;
}
.talents a {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .talents {
    padding: 50px;
  }
  .talents__title {
    font-size: 25px;
    border-left: 5px solid #30962f;
    padding-left: 10px;
  }
  .talents__wrapper {
    padding: 0;
    margin-top: 20px;
  }
  .talents__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .talents__talent {
    margin-bottom: 0;
  }
  .talents a {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .talents__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .talents__talent {
    max-width: 350px;
  }
  .talents a {
    margin-top: 40px;
    text-decoration: none;
  }
  .talents a:hover {
    color: blueviolet;
  }
}


/* Disclaimer */
.disclaimer {
  background: #e9ecf3e7;
  padding: 40px 20px 60px 20px;
  text-align: center;
}
.disclaimer__title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.disclaimer__text {
  font-size: 18px;
  margin-top: 10px;
  background: white;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid rgb(240, 236, 236);
}
@media only screen and (min-width: 768px) {
  .disclaimer__text {
    max-width: 600px;
    margin: 10px auto 0 auto;
  }
  .disclaimer__title {
    text-decoration: none;
    font-size: 25px;
  }
}




/* Footer */
.footer {
  padding: 20px;
  background: #30962f;
  color: white;
  text-align: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.footer__text {
  font-size: 14px;
}
.footer__text span {
  font-size: 14px;
  margin-top: 5px;
}



/* Modal Phone Number */
.modalnumber {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: #474e5dec;
  padding-top: 50px;
}
.modalnumber__close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}
.modalnumber__close:hover,
.modalnumber__close:focus {
  color: #ffffff;
  cursor: pointer;
}
.modalnumber__container {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  width: 90%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.61);
}
.modalnumber__title {
  font-size: 18px;
  font-weight: bold;
}
.modalnumber__title span {
  color: #30962f;
  font-size: 20px;
}
.modalnumber__text {
  font-size: 16px;
  margin: 10px 0;
}
.modalnumber input {
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .modalnumber__container {
    width: 70%;
  }
  .modalnumber__close {
    right: 80px;
    top: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .modalnumber__container {
    width: 600px;
  }
  .modalnumber__title {
    font-size: 25px;
    border-left: 5px solid #30962f;
    padding-left: 10px;
  }
}



/* Cookie consent */
.cookie {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #30962f;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  z-index: 999999;
  display: none;
}
.cookie__content {
  font-size: 12px;
  text-align: left;
}
.cookie__button button {
  background-color: white;
  color: black;
  text-shadow: none;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 992px) {
  .cookie {
    max-width: 1200px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    left: 50%;
    transform: translateX(-50%);
  }
  .cookie__content {
    font-size: 16px;
  }
  .cookie__button button {
    font-size: 16px;
  }
}